# Configurações do Postgres
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5433   # Porta externa (para acesso fora do Docker)

# Configurações do Airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# Segurança
AIRFLOW__WEBSERVER__SECRET_KEY=<coloque_sua_chave_aqui>
AIRFLOW__CORE__FERNET_KEY=<coloque_sua_chave_aqui>

# Configurações adicionais
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__LOGGING__REMOTE_LOGGING=false
AIRFLOW__LOGGING__BASE_LOG_FOLDER=/opt/airflow/logs
